<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
{#    <script src="https://cdn.ethers.io/scripts/ethers-v2.min.js"></script>#}
    <script src="https://cdn.ethers.io/scripts/ethers-v2.min.js"
        charset="utf-8"
        type="text/javascript">
</script>
</head>
<body>

Welcome {{ user.username }}
<br>
<button onclick="generateRandomWallet()">Create random wallet</button>

<script>
    function generateRandomWallet() {
        const wallet = ethers.Wallet.createRandom();
        console.log("wallet address: " + wallet.address);
    }
</script>
</body>
</html>