<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
{#    <script src="https://cdn.ethers.io/scripts/ethers-v2.min.js"></script>#}
    <script src="https://cdn.ethers.io/scripts/ethers-v2.min.js"
        charset="utf-8"
        type="text/javascript">
</script>
</head>
<body>

Welcome {{ user.username }}
<p id="walled_id"></p>
<br>
<button onclick="generateRandomWallet()">Create random wallet</button>
<br>
<a href={% url 'logout' %}>logout</a>
<script>
    function generateRandomWallet() {
        const wallet = ethers.Wallet.createRandom();
        console.log("wallet address: " + wallet.address);
        document.getElementById("walled_id").innerText = "wallet address: " + wallet.address;
    }
</script>
</body>
</html>